{% extends "base.html" %}

{% block contents %}
<div class="row mt-5"> <!-- mt-5 : 위아래 여백 추가 -->
    <div class="col-12 text-center">
        <h1>로그인</h1>
    </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    {{error}} <!--views.py -> '비밀번호가 다릅니다.' 을 받음 -->
  </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action=".">
          <!--post: 양식 데이터를 요청 본문으로 전송
              action="." : 현재 페이지에서 action, 현재 페이지에서 action할 경우 생략 가능-->
            {% csrf_token %}
            <!--cross domain을 막기 위해 form 안에 설정을 해줘야 함 (현재 웹사이트가 아닌 다른 웹사이트에서 정보를 서버로 올리는 것을 방지)
                (django에서는 기본값이므로 설정해주지 않으면 error가 남)-->
            <div class="form-group">
              <label for="username" class="form-label">사용자 이름</label>
              <input
              type="text"
              class="form-control"
              id="username"
              placeholder="사용자 이름"
              name="username"
              ><!-- name은 server에서 key의 역할을 함 -->
            </div>

            <div class="form-group">
              <label for="password" class="form-label">비밀번호</label>
              <input 
              type="password" 
              class="form-control" 
              id="password" 
              placeholder="비밀번호"
              name="password"
              >
            </div>

            <button type="submit" class="btn btn-primary">로그인</button>
          </form>
    </div>
</div>
{% endblock %}