{% extends "base.html" %} <!-- base.html 코드를 상속 -->

{% block contents %} <!-- 추가할 코드 block 사이에 작성 -->
<div class="row mt-5"> <!-- mt-5 : 위아래 여백 추가 -->
  <div class="col-12 text-center">
      <h1>회원가입</h1>
  </div>
</div>

<div class="row mt-5">
<div class="col-12">
  {{error}} <!--views.py -> '비밀번호가 다릅니다.' 을 받음 -->
</div>
</div>

<div class="row mt-5">
  <div class="col-12">
      <form method="POST" action=".">
        <!--post: 양식 데이터를 요청 본문으로 전송
            action="." : 현재 페이지에서 action, 현재 페이지에서 action할 경우 생략 가능-->
          {% csrf_token %}
          <!--cross domain을 막기 위해 form 안에 설정을 해줘야 함 (현재 웹사이트가 아닌 다른 웹사이트에서 정보를 서버로 올리는 것을 방지)
              (django에서는 기본값이므로 설정해주지 않으면 error가 남)-->
          <div class="form-group">
            <label for="username" class="form-label">사용자 이름</label>
            <input
            type="text"
            class="form-control"
            id="username"
            placeholder="사용자 이름"
            name="username"
            ><!-- name은 server에서 key의 역할을 함 -->
          </div>

          <div class="form-group">
            <label for="useremail" class="form-label">사용자 이메일</label>
            <input
            type="email"
            class="form-control"
            id="useremail"
            placeholder="email@gmail.com"
            name="useremail"
            ><!-- name은 server에서 key의 역할을 함 -->
          </div>

          <div class="form-group">
            <label for="password" class="form-label">비밀번호</label>
            <input 
            type="password" 
            class="form-control" 
            id="password" 
            placeholder="비밀번호"
            name="password"
            >
          </div>

          <div class="form-group">
            <label for="re_password" class="form-label">비밀번호 확인</label>
            <input 
            type="password" 
            class="form-control" 
            id="re_password" 
            placeholder="비밀번호 확인"
            name="re_password"
            >
          </div>

          <button type="submit" class="btn btn-primary">등록</button>
        </form>
  </div>
</div>
{% endblock %}